@page
@model CoogMusic.Pages.History.IndexModel
@{
    ViewData["Title"] = "My History";
}

<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/history.css">
</head>
<body>
    <main>
        <section>
            <h1>@ViewData["Title"]</h1>
            <table class="table">
                <tr>
                    <th class="table-header">Time played</th>
                    <th class="table-header">Artist</th>
                    <th class="table-header">Genre</th>
                    <th class="table-header">Song name</th>
                </tr>
                @foreach (var song in Model.listSongs)
                {
                    <tr>
                        <td>@song.last_played</td>
                        <td>@song.artist</td>
                        <td>@song.genre</td>
                        <td>@song.title</td>
                    </tr>
                }
            </table>
        </section>
    </main>
</body>