@page 
@model CoogMusic.Pages.Search.IndexModel
@{
    ViewData["Title"] = "Search";
}
<div class="text-center">
    <h1>Search</h1>
</div>
<div>
    <div class="searching">
        <form method="POST" class="search-bar">
            <label for="search-input">Search:</label>
            <input type="text" id="search-input" name="Title" placeholder="Enter search term">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="table-header">Title</th>
                    <th class="table-header">Artist Name</th>
                    <th class="table-header">Genre</th>
                    <th class="table-header">Upload Date</th>
                    <th class="table-header">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listSongs)
                {
                    <tr>
                        <td>@item.title</td>
                        <td>@item.artistName</td>
                        <td>@item.genre</td>
                        <td>@item.CreateDate</td>
                        <td>
                            @*<a class="btn btn-primary btn-action" href="@Url.Action("PlaySong", "Search", new { id = item.songId })">play</a>*@
                            <a class="btn btn-primary btn-action" onclick="playSong(&quot;@item.songId&quot;)">Play</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @*<p>Time of play @DateTime.Now</p>*@
    @* <audio id="audio-player" controls>
        <source src="Eslabon_Armado_Ella_Baila_Sola.mp3" type="audio/mp3">
        </audio> *@
    <h2 id="song-name"></h2>
    <div class="music-player">
        <audio id="audio-player" src="Ella_Baila_Sola-Eslabon_Armado.mp3"></audio>
        <div class="controls">
            <button id="prev-button">
                <i class="fas fa-backward"></i>
            </button>
            <button id="play-pause-button">
                <i class="fas fa-play"></i>
            </button>
            <button id="skip-button">
                <i class="fas fa-forward"></i>
            </button>
        </div>
        <span id="current-time">0:00</span>
        <progress id="music-progress" max="100"></progress>
        <span id="full-length">0:00</span>
        <div class="volume-slider-container">
            <i class="fas fa-volume-up"></i>
            <input type="range" id="volume-slider" name="volume-slider" min="0" max="1" step="0.01" value="1"></input>
        </div>
    </div>
</div>