@page

@model CoogMusic.Pages.Search.IndexModel
@{
    ViewData["Title"] = "Search";
}
<div class="text-center">
    <h1>Search</h1>
</div>
<div id="playlist-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Add song to playlist</h2>
        <div id="playlists-container"></div>
    </div>
</div>
<div>
    <div class="searching">
        <form method="POST" class="search-bar">
            <label for="search-input">Search:</label>
            <input type="text" id="search-input" name="Title" placeholder="Search for Song or Artist.">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
    <div>
        @if (Model.listSongs.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-header">Title</th>
                        <th class="table-header">Artist</th>
                        <th class="table-header">Genre</th>
                        <th class="table-header">Duration</th>
                        @*<th class="table-header">Upload Date</th>*@
                        <th class="table-header"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listSongs)
                    {
                        <tr>
                            <td class="explicit-cell">
                                @if (item.Explicit == true)
                                {
                                    <span class="explicit-label">E</span>
                                    @:&nbsp;
                                }
                                @item.title
                            </td>
                            <td>@item.artistName</td>
                            <td>@item.genre</td>
                            <td>@(item.Duration?.ToString(@"mm\:ss") ?? "")</td>
                            @*<td>@item.CreateDate</td>*@
                            <td>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="btn btn-primary btn-action"
                                       onclick="playSongFromSearch(&quot;@item.songId&quot;, &quot;@item.title&quot;, &quot;@item.artistName&quot;)">
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                    <a class="btn btn-secondary btn-action"
                                       onclick="addToPlaylist(&quot;@item.songId&quot;)">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                }
                                else
                                {
                                    <span>Please log in to play music.</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else if (Model.SearchPerformed)
        {
            <br />
            <p class="text-center">No songs were found.</p>
        }
    </div>
    @await Html.PartialAsync("_MusicPlayer")
</div>