@page
@model CoogMusic.Pages.Albums.IndexModel
@{
    ViewData["Title"] = "My Albums";
}
<br>
<h2>My Albums</h2>
<a class="btn btn-primary btn-upload" href="/Songs/Upload">Publish Album</a>
<table class="table">
    <thead>
        <tr>
            <th class="table-header">Title</th>
            <th class="table-header">Genre</th>
            <th class="table-header">Create Date</th>
            <th class="table-header">Action</th>
        </tr>
    </thead>
    <tbody>
        <!--@foreach (var item in Model.listSongs)
        {
            @if (@item.deleted != true)
            {
                <tr>-->
                    @*<td>@item.Name</td>
                        <td>@item.RecordLabel</td>*@
                    <!--<td>@item.title</td>
                    <td>@item.genre</td>
                    <td>@item.CreateDate</td>
                    <td>
                        <a class="btn btn-primary btn-action" href="/Songs/Edit?id=@item.songId">Edit</a>
                        <a class="btn btn-danger btn-action" href="/Songs/Delete?id=@item.songId">Delete</a>
                    </td>
                </tr>
            }
        }-->
    </tbody>
</table>