@page
@using CoogMusic.Pages;

@model CoogMusic.Pages.Report.Ratings_ReportModel
@{
    ViewData["Title"] = "Report";
}

<div>
    <h1 class="text-center">Reports</h1>
    <form method="post" id="report-form">
        <div class="form-group">
            <label for="selectAlbum">Select an album:</label>
            <select id="selectAlbum" asp-for="SelectedAlbumId" onchange="onAlbumSelect()">
                <option value="">-- Select an album --</option>
                @foreach(var album in Model.Albums)
                {
                <option value="@album.Id">@album.Title</option>
                }
            </select>
        </div>
        <p class="text-center">Or</p>
        <div class="form-group">
            <label for="selectSong">Select a song:</label>
            <select id="selectSong" asp-for="SelectedSongId" onchange="onSongSelect()" asp-items='@(new SelectList(Model.Songs.Select(s => new { Value = s.songId, Text = s.title }), "Value", "Text"))'>
                <option value="">-- Select a song --</option>
            </select>
        </div>
        <button type="submit" asp-page-handler="GenerateReport">Generate Report</button>
    </form>

    @if (Model.ReportHtml != null)
    {
    <div class="mt-3">
        @if(Model.SelectedAlbumId != null )
            {
        <h3 class="text-center mb-3">Rating Report for Album @Model.SelectedAlbumTitle</h3>
            }
            else
            {
        <h3 class="text-center mb-3">Rating Report for Song @Model.SelectedSongTitle</h3>
            }
        @Html.Raw(Model.ReportHtml)
    </div>
    }
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function onAlbumSelect() {
            var selectAlbum = $('#selectAlbum');
            var selectSong = $('#selectSong');
            if (selectAlbum.val() !== '') {
                selectSong.prop('disabled', true);
                selectSong.val('');
            } else {
                selectSong.prop('disabled', false);
            }
        }

        function onSongSelect() {
            var selectAlbum = $('#selectAlbum');
            var selectSong = $('#selectSong');
            if (selectSong.val() !== '') {
                selectAlbum.prop('disabled', true);
                selectAlbum.val('');
            } else {
                selectAlbum.prop('disabled', false);
            }
        }

        $(document).ready(function () {
            $('#report-form').submit(function (e) {
                if ($('#selectAlbum').val() == '' && $('#selectSong').val() == '') {
                    alert('Please select an album or a song.');
                    e.preventDefault();
                }
            });
        });
    </script>
}
