@page
@model CoogMusic.Pages.Playlists.IndexModel
@{
    ViewData["Title"] = "My Playlists";
}

@if (User.Identity.IsAuthenticated)
{
    <br>
    <h1>Playlists</h1>
    <a class="btn btn-primary btn-upload" href="/Playlists/Create">New Playlist</a>
    @if (Model.UserPlaylists.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th class="table-header">Title</th>
                    <th class="table-header">Description</th>
                    @*<th class="table-header">Duration</th>*@
                    <th class="table-header">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserPlaylists)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        @*<td>@(item.Duration?.ToString(@"mm\:ss") ?? "")</td>*@
                    <td>
                        <a class="btn btn-secondary btn-action" asp-page="/Playlists/PlaylistSongs" asp-route-playlistId="@item.Id">
                            <span class="fa-layers fa-fw">
                                <i class="fas fa-square-full" data-fa-transform="shrink-8 right-4 down-2.7" data-fa-mask="fas fa-bars"></i>
                                <i class="fas fa-play" data-fa-transform="shrink-8 right-5 down-4"></i>
                            </span>
                        </a>
                        <a class="btn btn-primary btn-action" asp-page="/Playlists/Edit" asp-route-playlistId="@item.Id">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-danger btn-action" href="/Playlists/Delete?id=@item.Id">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>You do not have any playlists. Please create one!</p>
    }
}
else
{
    <p>Please log in to access this page.</p>
}