@page
@model CoogMusic.Pages.Songs.EditModel
@{
    ViewData["Title"] = "Edit Song";
}

@if (User.Identity.IsAuthenticated)
    {
        @if(User.IsInRole("Artist"))
        {
         <div class="form-container">
            <h1 class="text-center">Edit Song</h1>
            @if (Model.errorMessage.Length > 0)
                {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>@Model.errorMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
                }
                    <form method="POST">
                        <input type="hidden" name="editId" value="@Model.editSong.songId"/>
                        <div class="form-group">
                        </div>
                        <div id="song-details" style="display: block" class="form-group">
                            <div>
                                <label for="title">Title:</label>
                                <input type="text" id="title" name="Title" required class="form-input" value="@Model.editSong.title">
                            </div>
                            <div>
                                <label for="genre">Genre:</label>
                                <select id="genre" name="genre" required class="form-input" value="@Model.editSong.genre">
                                    <option value="">Choose an option</option>
                                    @foreach (var genreOption in new List<string> { "Rock", "Pop", "Hip-Hop", "Jazz", "Classical", "Corrido", "Electronic", "DubStep", "Other" })
                                    {
                                        if (Model.editSong.genre == genreOption)
                                        {
                                            <option value="@genreOption" selected>@genreOption</option>
                                        }
                                        else
                                        {
                                            <option value="@genreOption">@genreOption</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div>
                                <label for="explicit" style="display: inline-block;">Explicit:</label>
                                <label class="custom-checkbox" style="display: inline-block;">
                                    <input type="checkbox" id="explicit" name="Explicit" value="true" @(Model.editSong.Explicit==true ? "checked" : "")/>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <input type="hidden" id="artist" name="ArtistId" required class="form-input" value="@Model.editSong.artistId">
                            </div>
                            <div>
                                <input type="hidden" id="song" name="SongId" required class="form-input" value="@Model.editSong.songId">
                            </div>
                        </div>
                        @if (Model.successMessage.Length > 0)
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>@Model.successMessage</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                            }
                        <button type="submit" name="submitBtn" class="btn btn-default">Submit</button>
                        <a class="btn btn-outline-primary" href="/Songs/Index" role="button">Cancel</a>
                    </form>
             </div>
            }
    else
    {
        <p>You are not authorized to edit music.</p>
    }
    }
    else
    {
        <p>Please Log In to access this page</p>
    }