@page
@model CoogMusic.Pages.Songs.IndexModel
@{
    ViewData["Title"] = "My Songs";
}

<br>
<h2>List of Songs</h2>
<a class="btn btn-primary btn-sm" href="/Songs/Upload">Upload Song</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Create Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listSongs)
         {
            <tr>
                @*<td>@item.Name</td>
                <td>@item.RecordLabel</td>*@
                <td>@item.title</td>
                <td>@item.genre</td>
                <td>@item.CreateDate</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Songs/Edit?id=@item.songId">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Songs/Delete?id=@item.songId">Delete</a>
                </td>
            </tr>
         }
    </tbody>
</table>
